<div style="display: flex; justify-content: space-between;">
  <div style="width: 25%;"></div>
  <div style="width: 50%; white-space: nowrap;">
    <h1>Talent Hub</h1>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <span matPrefix>Quoi ? </span>
        <input type="tel" matInput placeholder="Métier, Entreprises ou Mots-clés">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </form>

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <span matPrefix>Où ? </span>
        <input type="tel" matInput placeholder="Métier, Entreprises ou Mots-clés">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </form>

    <button mat-raised-button style="color: #09091f">Primary</button>
  </div>
  <div style="width: 25%;"></div>
</div>
